<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. Numpy

<table>
  <tr class="row1">
    <td colspan="3">Data Science Tools</td>
  </tr>
  <tr class="row2">
    <td>Jupyter Notebook</td>
  </tr>
  <tr class="row3">
    <td colspan="3">Tableau</td>
  </tr>
  <tr class="row3">
    <td colspan="3">Apache Spark</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
<h3>1. operators</h3>
<h3>2. parenthesis</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<strong>Objectives:</strong>
<ul>
<li>Popular Language for Data Science such as R, Python and SQL</li>
<li>Popular Library such as matplotlib, pandas and numpy</li>
<li>Popular tools such as Tableau, Apache Spark and Jupyter Notebook</li>
<li>Simple Calculations</li>
</ul>

<h2>Author:</h2> Lim Zhi Yang